:root{
    --couleur-background: #282c34;
    --couleur-texte: #e3e7ed;
    --couleur-texte-bleu: #169fe3;
    --couleur-background-bouton: #3c3f49;
    --couleur-background-bouton-select: rgba(22,159,227,0.7);
    --couleur-background-bouton-hover: #3794c3;
}

*{
    box-sizing: border-box;
}

@font-face {
    font-family: "Maximum-Impact";
    src: url("../webfonts/Maximum-Impact.ttf");
}

body{
    margin: 0;
    background-color: var(--couleur-background);
    color: var(--couleur-texte);
}

.containeur{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "contenu aside";
    margin: 40px auto;
    padding: 24px 80px;
}

.contenu{
    grid-area: contenu;
}

.aside{
    grid-area: aside;
    padding-left: 60px;
    max-width: 450px;
} 

.sous-titre{
    font-size: 1.40em;
    font-family: "Maximum-Impact";
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 20px;
}

.entete img{
    width: 100%;
}

legend {
    margin-bottom: 10px;
    font-weight: 800;
}

.btn-filtre{
    border: none;
    background-color: var(--couleur-background-bouton);
    color: var(--couleur-texte);
    border-radius: 15px;
    padding: 0.4em 1em;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    margin-top: 10px;
}

.btn-filtre-select{
    background-color: var(--couleur-texte);
    color: var(--couleur-background);
}

.titre-montant{
    margin-top: 35px;
    color: var(--couleur-texte-bleu);
    font-size: 2em;
    font-weight: 800;
}

.affichage-livres{
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.livre {
    margin: 0;
    padding: 10px;
    width: 30%;
    transition: transform 200ms;
    cursor: pointer;
}

.livre img {
    width: 100%;
}

.livre:hover {
    transform: scale(1.05);
    border: 5px solid var(--couleur-background-bouton-select);
    border-radius: 4px;
    box-shadow: var(--couleur-background-bouton-select) 0px 10px 36px 0px, var(--couleur-background-bouton-select) 0px 0px 0px 1px;
}

p {
    font-size: 17px;
    line-height: 1.1;
}

.information{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.item{
    display: inline-flex;
}

.item i{
    margin-right: 10px;
    font-size: 1.5em;
}